#drag1, #drag2 {
    border: 2px solid white;
    display: inline-block !important;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75em;
    touch-action: none;
    user-select: none;
    padding: 10px;
    margin: 10px;
    transform: translate(0px, 0px);
  }
  
  .dragdropdemo {
    border-radius: 0.75em;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
  }
  
  @mixin dropzone {
    font-family: "Montserrat", sans-serif;
   box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
   background: hsl(0 0% 100%);
   color: hsl(200 50% 20%);
   line-height: 1.5;
   font-size: 1.5rem;
   font-weight: 300;
   width: 80vmin;
   height: 33vmin;
   display: flex;
   justify-content: center;
   align-items: center;
 
   margin: 10px;
   border: 1px solid hsl(0 0% 83%);
  }
  
  .dropzone {
    @include dropzone;
  }
  
  .dropzone1 {
    @include dropzone;
  }
  
  .dropzone2 {
    @include dropzone;
  }
  
  .dropactive {
    border-color: #aaa;
  }
  
  .dropped {
    // background: red;
  }
  
  .droptarget {
    background-color: green;
    border-color: #fff;
    border-style: solid;
  }
  
  .dragdrop {
    line-height: 0.8em;
    border-radius: 0.75em;
    display: inline-block;
    width: 75px;
    height: 75px;
    padding: 10px;
    margin: 1rem 0 0 1rem;
    color: rgb(0, 0, 0);
    // background-color: rgb(255, 255, 255);
    background: transparent;
    border: solid 2px #fff;
    font-size: 100px;
    touch-action: none;
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
  }

  .dragdrop_hidden {
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
  }
  
  #yesdrop {
    border: 2px solid white;
    // background: magenta;    
  }
  
  .dragdrop.candrop {
    color: #000;
    background-color: rgb(255, 248, 40) !important;
  }