/* html, body{
   padding:0px;
   margin:0px;
   font-family: 'Raleway', sans-serif;
   color:#FFF;
   height:100%;
}
body{
   background:rgba(0, 0, 0, 0.5); 
} */
.alldrag {
   margin-left: 100px;
    display: flex;
    margin-bottom: 50px;

}
.sidebar{
   position: absolute;
   left: 0;
   width:200px;
   height: 91%;
   background:#272727;
   padding:10px 0px 20px 0px;
   border-bottom:1px solid #111;
   border-left:1px solid #111;
   border-right:1px solid #111;
   /* border-radius:4px; */
   /* box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75); */
}
.link{
   font-size:22px;
   font-weight:300;
   text-align:center;
   position:relative;
   height:40px;
   line-height:40px;
   margin-top:50px;
   width:90%;
   margin-left:5%;
   cursor:pointer;
}
/* .link:after{
   content: '';
   position:absolute;
   width:80%;
   bottom:50%;
   left:-100%;
   transition-delay: all 0.5s;
   transition: all 0.5s;
} */
/* .link:hover:after,
.link.hover:after{
   left:100%;
} */
.link .text{
   font-family: "Montserrat", sans-serif;
   /* text-shadow:0px -40px 0px rgba(255, 255, 255, 1); */
   color:white;
   transition:all 0.25s;
   transform:translateY(100%) translateZ(0);
   transition-delay:all 0.25s;
}
.link:hover .text,
.link.hover .text{
   font-family: "Montserrat", sans-serif;
   /* text-shadow:0px -40px 0px #fddb3a; */
   font-weight:600;
   color:#fddb3a;
}
.newCont{
   position: absolute;
   left: 11%;

}
.addDevice {
   font-family: "Montserrat", sans-serif;
   box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
   background: hsl(0 0% 100%);
   color: hsl(200 50% 20%);
   line-height: 1.5;
   font-size: 1.5rem;
   font-weight: 300;
   width: 100%;
   min-height: 13vmin;
   display: flex;
   /* place-items: center; */
   /* text-align: center; */
   padding: 3ch;
   /* border-radius: 2ch; */
   border: 1px solid hsl(0 0% 83%);
 }
 .deviceField{
   margin-top: 20px;
   display: flex;
   flex-wrap: wrap;
 }
.fields{
   font-family: "Montserrat", sans-serif;
   box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
   background: hsl(0 0% 100%);
   color: hsl(200 50% 20%);
   line-height: 1.5;
   font-size: 1.5rem;
   font-weight: 300;
   width: 80vmin;
   height: 33vmin;
   display: flex;
   justify-content: center;
   align-items: center;
 
   margin: 10px;
   border: 1px solid hsl(0 0% 83%);
   
}

.hid {
   display: none;
}