@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.bar {
 
  background-color: #272727;
  width: 100%;
  height: 85px;
  font-family: "Montserrat", sans-serif;
  
}

.navMenu {
  width: 32%;
  background-color: #272727;
  position: absolute;
  top: 4.5%;
  left: 48.5%;
  /* margin: auto; */
   display: flex;
  /* justify-content: space-around; */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu .title {
  color: #f6f4e6;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  padding-left: 10%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu a {
  text-decoration: none;
  color: #f6f4e6;
}

.navMenu .dot {
  position: absolute;
  top: 88%;
  left:11%;
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.titlePro {
  margin-left: 20%;
}

.navMenu .title:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(4rem);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu  .title:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(14.3rem);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu  .title:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(22.5rem);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu  .title:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(31rem);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}


.navMenu .title:nth-child(1):hover ~ .dotPro {
  -webkit-transform: translateX(30px);
  transform: translateX(9.3rem);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu  .title:nth-child(2):hover ~ .dotPro {
  -webkit-transform: translateX(110px);
  transform: translateX(24.6rem);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}